@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

/* open-sans-300 - cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v15-cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v15-cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 30px;

  background-color: #ffffff;
}

.list-style {
  list-style: none;
  padding:0;
  margin: 0;
}

.page-title {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs a,
.breadcrumbs-current {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.filter ul {
  line-height: 40px;
}

.filter fieldset {
  border-style: none;
}

.filter legend {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.filter input:disabled + label {
  color: #a6a6a6;
}

.catalog ul {
  line-height: 24px;
}

.catalog a {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 300;
}

.behavior a:hover,
.behavior a:focus,
.site-logo:hover {
  opacity: 0.6;
}

.behavior a:active,
.site-logo:active {
  opacity: 0.3;
}

.main-header {
  background-color: #F0C52E;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
}

.catalog-menu-pop-up {
  display: none;
}

.site-navigation a {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.search a {
  opacity: 0.3;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.about-us ul {
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
}

.more-about-us  {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.main-footer {
  background-color: #464646;
  list-style: none;
}

.main-footer a {
  text-decoration: none;
  color: #ffffff;
}

.main-footer .user-navigation a {
  opacity: 0.7;
}

.main-footer .user-navigation a:hover,
.main-footer .user-navigation a:focus{
  opacity: 1;
}

.main-footer .user-navigation a:active{
  opacity: 0.3;
}

.address {
  font-style: normal;
  color: #ffffff;
}

.write-us-form {
  display: none;
}

.modal {
  display: none;
}
