@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 30px;
  background-color: #ffffff;
}

.list-style {
  list-style: none;
  padding:0;
  margin: 0;
}

.page-title {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.breadcrumbs a,
.breadcrumbs-current {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  padding-right: 40px;
}

.filter ul {
  line-height: 40px;
}

.filter fieldset {
  border-style: none;
}

.filter legend {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.filter input:disabled + label {
  color: #a6a6a6;
}

.catalog ul {
  line-height: 24px;
}

.catalog a {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

/* .catalog-item {
  width: 360px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin: auto;
} */

/* .catalog-item-price {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 300;
} */

.catalog-item-image {
  margin: 0;
}


.behavior a:hover,
.behavior a:focus,
.site-logo:hover {
  opacity: 0.6;
}

.behavior a:active,
.site-logo:active {
  opacity: 0.3;
}

.main-header {

  width: 1200px;
  margin: 40px auto;

  padding-left: 20px;
  padding-right: 20px;
}

.main-navigation {
  padding: 0 60px;
  background-color: #F0C52E;
  padding-bottom: 170px;
}

.site-logo {
  display: inline-block;
  margin-top: -60px;
}

.main-header .user-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

/* .search {
  margin-right: auto;
} */

/* .main-navigation .login-link {
  margin-right: 200px;
} */

.main-navigation .compare {
  margin-left: auto;
  padding-right: 60px;
}

.column-right {
  display: flex;
  justify-content: flex-end;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
}

.main-header .site-navigation {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding-top: 40px;
}

.main-navigation .site-navigation li:nth-child(2) {
  margin-right: auto;
  padding-left: 40px;
}

.catalog-menu-pop-up {
  display: none;
}

.site-navigation a {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.search-input {
  background-color: yellow;
}

.about-us h2,
.contacts h2 {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.about-us ul {
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
}

.more-about-us  {
  font-family: "Gilroy", 'Arial', sans-serif;
  font-weight: 800;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  margin-left: 40px;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0 20px
}

.main-container-wrapper {
  display: flex;
  justify-content: space-between;
}

.visually-hidden {
  display: none;
}

.about-us {
  width: 475px;
}

.contacts {
  width: 560px;
}

.main-footer {
  background-color: #464646;
  list-style: none;
}

.main-footer a {
  text-decoration: none;
  color: #ffffff;
}

.main-footer .user-navigation a {
  opacity: 0.7;
}

.main-footer .user-navigation a:hover,
.main-footer .user-navigation a:focus{
  opacity: 1;
}

.main-footer .user-navigation a:active{
  opacity: 0.3;
}

.address {
  font-style: normal;
  color: #ffffff;
}

.write-us-form {
  display: none;
}

.modal {
  display: none;
}

/* .footer-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */

.added {
  padding-top: 65px;
  padding-bottom: 70px;
}

.navigation-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.main-footer .user-navigation {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.main-footer .user-navigation-catalog {
  width: 400px;
}

.site-navigation-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.site-navigation-flex ul {
  order: 1;
  display: flex;
  width: 440px;
  justify-content: space-around;
}
.phone {
  order: 2;
}

.footer-social-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-flex ul {
  display: flex;
  width: 160px;
  justify-content: space-around;
}

.login-id {
  margin-right: 20px;
}


.main-navigation .logged-in {
  margin-right: 60px;
}

.main-heading {
  width: 1100px;
  margin: 44px auto 0px auto;
  padding-left: 60px;
}


.breadcrumbs {
  display: flex;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 70px 0;
  padding:0;
  margin-left: 75px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.top-row {
  background-image: linear-gradient(to right, #dbdbdb 0, #dbdbdb 40%, #ebebeb 40%, #ebebeb 100%);
}

.bottom-row {
  background-image: linear-gradient(to right, #ebebeb 0, #ebebeb 40%, #fff 40%, #fff 100%)
}

.row {
  display: flex;
  align-items: stretch;
}

.wrapper {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.filters-header-left {
  width: 328px;
  background-color: #dbdbdb;
  padding: 20px 0;
  letter-spacing: 0.2em;
}

.filters-header-right {
  flex-grow: 1;
  background-color: #ebebeb;
  padding: 20px 0;
}

.filters-description {
  width: 328px;
  background-color: #ebebeb;
}

.filters-description form {
  margin-left: 40px;
}

.catalog {
  flex-grow: 1;
  background-color: #fff;
  margin: 0px auto;
  width: 800px;
}
